<h1>Wikinimous</h1>

<h2>Editing article</h2>

<%= simple_form_for(@article) do |f| %>
  <%= f.input :title%>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<p><%= link_to "Back to list", articles_path %></p>
<p><%= link_to "Back to article", article_path %></p>
